body {
  /* Full height */
  width: 100%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  /*background */
  background-color: rgb(235, 233, 234) !important;
}

a.MuiTypography-root.makeStyles-title-2.MuiTypography-h6.MuiTypography-colorInherit {
  font-size: 20px !important;
}

/* container background About Us Page*/
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4.MuiGrid-justify-content-xs-center {
  background-color: rgb(235, 233, 234);
}

/* Navbar / cards color */
.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff0f0 !important;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

/* width and height of cart items container */
